<!-- Search Bar -->
<div class="search">
  <i class="fas fa-search"> </i>
  <input type="text" class="search-bar" placeholder="Search F1 drivers..." name="userTextSearch" #searchText>
</div>

<!-- Welcome Message -->
<div class="welcome-message" *ngIf="displayWelcomeMessage">
  <h1>Welcome to <span>F1 Drivers</span></h1>
  <h2>Motor Search for all F1 drivers of the history</h2>
  <p>Type in the search bar a name to begin the research... {{ test }}</p>
</div>

<!-- Error Message -->
<div *ngIf="!displayWelcomeMessage && searchResult.length === 0" class="no-result-message">
  <h3> <i class="fas fa-times-circle"> </i> No result for your research...</h3>
</div>


<!-- Search List Result -->
<div [@searchResult]="searchResult" *ngFor="let driver of searchResult" class="driver-card">
  <div>
    <h4>{{ driver._source.driver.name }} <label class="flag-icon {{ 'flag-icon-' + driver._source.driver.country }}" [class]=""> </label></h4>
    <p style="color: black"><label>Birthday: </label>{{ driver._source.driver.birthday }}</p>
  </div>
  <div>
    <a href="{{driver._source.driver.wiki}}" target="_blank"><i class="fas fa-file-alt"> </i></a>
  </div>
</div>



