.search {
  width: 60%;
  display: block;
  background-color: white;
  border-radius: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 auto 50px;

}

.search-bar {
  width: 65%;
  padding: 0;
  margin: 0;
  border: none;
  opacity: .6;
}

.fa-search {
  color: #181818;
  font-size: 15px;
  margin-left: 25px;
  margin-right: 20px;
}

.no-result-message {
  background-color: #e74c3c;
  display: block;
  width: 60%;
  margin: 50px auto 0;

  padding-top: 20px;
  padding-bottom: 20px;

  border-radius: 25px;

  color: white;
}

.no-result-message h3 {
   margin-left: 25px;
}

.no-result-message h3 i {
  margin-right: 10px;
}

.welcome-message {
  margin-top: 50px;
  text-align: center;
}

.welcome-message p {
  margin-top: 40px;
}

.driver-card {
  display: block;
  width: 60%;
  background-color: white;
  height: 150px;
  margin: 0 auto 30px;
  border-left: 5px solid #e74c3c;
  border-right: 5px solid #e74c3c;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;

}

.driver-card div {
  display: inline-block;
  width: 50%;
}

.flag-icon {
  margin-left: 10px;
}

p label {
  font-weight: 400;
  font-size: 15px;
  margin-right: 5px;
}

p {
  font-size: 13px;
}

.fa-file-alt {
  color: black;
  font-size: 50px;
  margin-left: 80%;
  margin-top: 40px;
}


