<script lang="ts">
import { Vue } from 'vue-property-decorator';

export default class LoadingPage extends Vue {

}
</script>

<template>
    <div id="loading-page">
        <img src="../assets/logo.jpg" alt="" class="main-logo">
        <div class="spinner"></div>
    </div>
</template>

<style lang="scss">
    .main-logo {
        height: 200px;
        margin-top: 20%;
    }

    .spinner {
        width: 75px;
        height: 75px;
        margin: 100px auto;
        background-color: white;

        border-radius: 100%;
        -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
        animation: sk-scaleout 1.0s infinite ease-in-out;
    }

    @-webkit-keyframes sk-scaleout {
        0% { -webkit-transform: scale(0) }
        100% {
            -webkit-transform: scale(1.0);
            opacity: 0;
        }
    }

    @keyframes sk-scaleout {
        0% {
            -webkit-transform: scale(0);
            transform: scale(0);
        } 100% {
              -webkit-transform: scale(1.0);
              transform: scale(1.0);
              opacity: 0;
          }
    }
</style>
