/* You can add global styles to this file, and also import other style files */
body {
  background-color: #181818;
  font-family: 'Roboto', sans-serif;
  color: white;
}

.main-logo {
  width: 7%;
  display: block;
  margin: 0 auto 30px;
}

h1 {
  font-weight: 400;
  color: white;
  font-family: racer, sans-serif;
  margin-bottom: 50px;
}

h1 span{
  color: #e74c3c;
}

h2 {
  font-weight: 200;
  color: white;
  font-size: 20px;
}

h3 {
  font-weight: 300;
  font-size: 15px;
}

h4 {
  font-weight: 400;
  color: black;
  font-family: racer, sans-serif;
  font-size: 15px;
}

p {
  font-weight: 200;
  font-size: 15px;
}

@font-face {
  font-family: racer;
  src: url("./assets/fonts/racer.ttf");
}

